nav ul {
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(170, 206, 238);
  }

  nav .nav-brand {
    font-style: bold;
    font-size: large;
  }
  
  nav li {
    float: left;
  }
  
 nav a {
    display: block;
    color: rgb(42, 42, 42);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  nav a:hover {
    background-color: #e8e8e8;
  }

  .text-container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
  }

  .text-container label {
    margin-bottom: 1rem;
  }

  textarea {
    width: 98%;
    /* height: 20vh; */
    display: block;
    font-family: 'Kalam', cursive;
    font-size: large;
}


 


